.navbar {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.signup {
  text-decoration: none;
  padding: 16px !important;
  /* background-color: #282c34; */
}
.signup:hover {
  background-color: #3498eb;
  border-radius: 20px;
  color: white;
}
.nav-link {
  color: #fff !important;
}
.bg-primary {
  background-color: #007bff !important;
}
.sidenav---sidenav---_2tBP {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  background: #4281b5 !important;
  transition: min-width 0.2s;
  color: #9fa7ae !important;
}
.NotFound {
  width: 400% !important;
  padding-top: 60px !important;
  padding-bottom: 50px !important;
  font-size: 22px !important;
  font-weight: bold !important;
}
